body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(images/train-station-dario-puebla.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    background-color: aliceblue;
    width: 60%;
    margin: 3rem auto 2rem auto;
    padding: 2rem 0;
}
#count-el{
    background-color: aliceblue;
    width: 10%;
    margin: 2rem auto;
    padding: 1rem 0;
    font-size: 50px;
}
button{
    color: aliceblue;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    width: 200px;
}
#increment-btn{
    background-color: rgb(69, 109, 188);
}
#save-btn {
    display: block;
    margin: 0.3rem auto;
    background-color: brown;
}